<footer>


    <nav>

      <a href="https://github.com/nathaliaoliv">Github</a>
      <a href="https://nathaliaoliv.github.io/">Github.io</a>
      <a href="https://nathaliaoliv.github.io/web115">Web115.io</a>	    
      <a href="https://www.freecodecamp.org/nathaliaoliv">Freecodecamp</a>
      <a href="https://www.codecademy.com/profiles/nathaliaoliv">Codecademy</a>
      <a href="https://jsfiddle.net/ndeoliv2/omsnpd4v/1/">JSFiddle</a>  
      <a href="https://www.linkedin.com/in/nathalia-oliveira-27836a262/">LinkedIn</a> 
            
    </nav>
    <p>Designed by &copy; OliveiraNathalia</p>
<p>
  <a href="https://validator.w3.org/check?uri=referer" id = "validation_link_html">
    <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML.">

    </a>
	
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id = "validation_link_css">
    <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS.">
    </a>

	<script>document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script>
  
</p>
 
  </footer>